* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  font-family: Arial,"PingFangSC-Regular","STHeitiSC-Light",Helvetica;
  font-size: 14px;
  line-height: 1;
}
.wrapper {
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden;
}
.section {
  // min-height: 320px;
  min-height: 100vh;
  background: url(./imgs/20220326-183044-79cf.png) repeat-y;
  color: #eed9aa;
}

.sec_1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: Arial,SimSun,Sans-Serif;
  font-weight: 400;
  .top_img {
    width: 88%;
    margin: 0 auto;
    flex-shrink: 0;
    overflow: hidden;
    img {
      display: inline-block;
      width: 100%;
      transform: translateY(-100%);
    }
  }
  > p {
    opacity: 0.1;
  }
  .p1 {
    margin: 2.6vh 0 1.8vh;
    transform: scale(0.8);
  }
  .p2 {
    transform: scale(0.8);
    font-size: 2rem;
  }
  .p3 {
    margin: 1vh 0 2vh;
    font-size: 1.6rem;
  }
  .p4,.p5 {
    margin: 0.6vh 0;
    font-size: 1.4rem;
  }
  .p4 {
    transform: translateX(-1000px) scale(0.01);
  }
  .p5 {
    margin-bottom: 2.8vh;
    transform: translateX(1000px) scale(0.01);
  }
  .cent {
    width: 100%;
    min-height: 20rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 2.6vh;
    background: url(./imgs/cover.png) no-repeat center;
    background-size: contain;
    color: #000;
    font-family: "SourceHanSerifSC-Light-subset15", "Source Han Serif SC Light-subset15", "SourceHanSerifSC-Light", "Source Han Serif SC Light", Arial, SimSun, Sans-Serif;
    p {
      width: 1em;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
  &.animed {
    .top_img img {
      transform: translateY(-40%);
      transition: all 0.6s linear 1s;
    }
    > p {
      flex-shrink: 0;
      opacity: 1;
      transition: all 0.8s linear 2s;
    }
    .p1,.p2 {
      transform: scale(1.2);
    }
    .p3 {
      transition-delay: 3s;
    }
    .p4,.p5 {
      transform: translateX(0) scaleX(1);
      transition: all 0.8s linear 4s;
    }
  }
}
.sec_2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  --animation-timing-function: linear;
  .pic1 {
    max-width: 80%;
    width: 28rem;
    min-height: 12rem;
    height: 34vh;
    margin: 6vh 2rem 4vh;
    padding: 0 10px;
    border: 2px #eed9aa solid;
    overflow: hidden;
    img {
      width: 100%;
      transform: translateY(-22%);
      object-fit: cover;
      border-top: 5px #a10505 solid;
      border-bottom: 5px #a10505 solid;
    }
  }
  .p1 {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .p2 {
    margin: 1.5vh;
    font-size: 22px;
    letter-spacing: 6px;
  }
  .p3 {
    padding: 1.4rem 0 1rem;
    flex-grow: 1;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    animation-delay: 1.6s;
    animation-duration: 2.5s;
  }
  .pic2 {
    height: 18px;
  }
  .pic3 {
    height: 26px;
    padding-top: 1rem;
    overflow: hidden;
    img {
      width: 100%;
      transform: rotate(180deg);
    }
  }
}

.sec_3 {
  display: flex;
  flex-flow: column;
  align-items: center;
  .p1 {
    margin-top: 2vh;
    font-size: 2rem;
  }
  .top {
    width: 80%;
    min-height: 20rem;
    height: 44vh;
    margin-top: 6vh;
    border: 1px #eed9aa solid;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .cent {
    display: flex;
    width: 80%;
    margin-top: 4vh;
    > div {
      width: 48%;
      min-height: 16rem;
      height: 36vh;
      border: 1px #eed9aa solid;
    }
    .pic2 {
      margin-right: 1rem;
    }
    .pic3 {}
  }
}

.sec_4 {
  display: flex;
  flex-flow: column;
  align-items: center;
  .p1 {
    margin-top: 4vh;
    font-size: 2rem;
  }
}

.sec_5 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  .p1 {
    margin-top: 4vh;
    font-size: 2rem;
  }
  iframe {
    width: 90%;
    min-height: 12rem;
    height: 72vh;
    margin: 4vh 0 6vh;
  }
}

.audio {
  display: none;
}